body.loggedin {
	background-color: #060f18;
  margin: 30px;
  color: white;
}

.content {
	width: 1000px;
	margin: 0 auto;
}

.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}

.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}

.content > p table td, .content > div table td {
	padding: 5px;
}

.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}

.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}

/* FORM INPUTS */
.modify-user form input[type="text"], .modify-user form input[type="email"], .modify-user form select, .modify-user form input[type="date"] {
    font-size: 0.9rem;
    height: 55px;
    border: 1px solid #dee0e4;
    border-radius: 2px;
    padding: 3px 15px;
}

.modify-user form label.radio {
    font-size: 0.9rem;
    vertical-align: text-top;
}

/* navbar */
nav.navbar {
    background: transparent;
    height: 65px;
    z-index: 16;
    padding: 0 7.5px;
    border-radius:  23px;
}

nav.navbar a.navbar-brand em {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: auto;
}

/* DASHBOARD SIDEBAR */
nav.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 65px 0 0;
  width: 150px;
  background: transparent;
}

nav.sidebar .sidebar-sticky {
  position: relative;
  top: 0;
  height: 100%;
  margin-top: 120px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

nav.sidebar li.nav-item {
  width: 150px;
  margin: 1.0rem 0;
}

nav.sidebar a.nav-link {
  text-align: center;
  border-radius: 50%;
  margin: auto;
}

nav.sidebar li.active i {
  color: #b4ceee!important;
}

nav.sidebar i {
  color: #3377c9;
  transition: color 300ms;
}

nav.sidebar i:hover {
  color: #b4ceee;
  transition: color 300ms;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  nav.sidebar .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/* DASHBOARD CONTENT */
.container--dashboard {
  margin: 0 0 0 150px;
  padding: 30px;
}

.container__db {
  margin-top: 30px;
}

.container__db .col-lg-9 {
  padding-left: 0;
  padding-right: 50px;
}

.container__db .col-lg-3 {
  padding-right: 0;
  padding-left: 50px;
}

.toasts--dashboard {
  position: absolute;
  margin: 30px;
  top: 95px;
  right: 7.5px;
}

.toasts--dashboard i {
  color: #ffc107;
}

.toasts--dashboard .toast {
  background: transparent;
  border-radius: 20px;
}

.toasts--dashboard .toast-header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #0a192b;
  color: white;
}

.toasts--dashboard .toast-body {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #15355C;
  color: white;
}

.link-square {
  width: 200px;
  height: 200px;
  /* margin: 0 15px; */
  margin: 0 auto;
  text-align: center;
  border-radius: 35px;
}

.link-square__db {
  background: #0a192b;
  transition: background 300ms;
}

.link-square__db:first-child {
  margin-left: 0;
}

.link-square__db:last-child {
  margin-right: 0;
}

.link-square__db:hover {
  background: #15355C;
  transition: background 300ms;
}

.link-square__db i {
  font-size: 64px;
  padding-bottom: 15px;
  color: white;
}

.link-square__db a.link {
  display: flex;
  color: #b4ceee;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  height: 100%;
  width: 100%;
}

.link-square__db .link-content {
  margin: auto;
}

.infobar table tr td  {
  color: white;
  padding: 15px 5px;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infobar table tr td:first-child {
  width: 1%;
}

.infobar table td a {
  color: #3377c9;
}