<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/011d9c1061.js" crossorigin="anonymous"></script>
<script src="https://db-qa.amm-motorsport.online/dashboard/assets/js/form.ajax.js"></script>
<script src="https://db-qa.amm-motorsport.online/dashboard/assets/js/sidebar_nav.js"></script>